# Required environment variables
GCP_PROJECT=higher-valence-path2prod
GCP_REGION=us-central1
MODEL_IMAGE_URL=us-central1-docker.pkg.dev/higher-valence-path2prod/ci-nitric-fullstack/pytorch-cpu.1-12-bert-with-cpr:latest
ENABLE_PRIVATE_REGISTRY_ACCESS="true"
MODEL_DIR="./models/bert-tensorflow2-bert-en-uncased-l-10-h-128-a-2-v2/1"
MODEL_PREDICTION_INPUT_SCHEMA_PATH="bert-instance-schema.yaml"
MODEL_PREDICTION_OUTPUT_SCHEMA_PATH="bert-prediction-schema.yaml"
MODEL_PREDICTION_BEHAVIOR_SCHEMA_PATH="bert-parameters-schema.yaml"
MODEL_BUCKET_BASE_PATH="model"
MACHINE_TYPE="n1-standard-4"
ACCELERATOR_TYPE="NVIDIA_TESLA_T4"
ACCELERATOR_COUNT="1"
ENDPOINT_DISPLAY_NAME="Batched BERT Sentiment Analysis"
MODEL_DISPLAY_NAME="bert-tensorflow2-bert-en-uncased-l-10-h-128-a-2-v2"
MAX_REPLICA_COUNT=3
