# Required environment variables
GCP_PROJECT=higher-valence-path2prod
GCP_REGION=us-central1
MODEL_IMAGE_URL=us-central1-docker.pkg.dev/higher-valence-path2prod/ci-nitric-fullstack/pytorch-cpu.1-12-bert-with-cpr@sha256:9e5fe0d452177a95136fd31606f290481369347c3a0d27705358c9c24ba9c4ce
ENABLE_PRIVATE_REGISTRY_ACCESS="true"
MODEL_DIR="./models/hasnain43-bert-stock-sentiment-v1/1"
MODEL_PREDICTION_INPUT_SCHEMA_PATH="bert-instance-schema.yaml"
MODEL_PREDICTION_OUTPUT_SCHEMA_PATH="bert-prediction-schema.yaml"
MODEL_PREDICTION_BEHAVIOR_SCHEMA_PATH="bert-parameters-schema.yaml"
MODEL_BUCKET_BASE_PATH="model-hasnain43"
MACHINE_TYPE="g2-standard-8"
ACCELERATOR_TYPE="NVIDIA_L4"
ACCELERATOR_COUNT="1"
MODEL_DISPLAY_NAME="hasnain43-bert-stock-sentiment-v1"
MAX_REPLICA_COUNT=3
