# Required environment variables
GCP_PROJECT=higher-valence-path2prod
GCP_REGION=us-central1
MODEL_IMAGE_URL=us-central1-docker.pkg.dev/higher-valence-path2prod/ci-nitric-fullstack/pytorch-cpu.1-12-bert-with-cpr@sha256:37c3bfb8bae29e2aaf582deb33ad4ea7ecbe53971009c070a87a15f5482b68bd
ENABLE_PRIVATE_REGISTRY_ACCESS="true"
MODEL_DIR="./models/nlptown-bert-base-multilingual-uncased-sentiment/1"
MODEL_PREDICTION_INPUT_SCHEMA_PATH="bert-instance-schema.yaml"
MODEL_PREDICTION_OUTPUT_SCHEMA_PATH="bert-prediction-schema.yaml"
MODEL_PREDICTION_BEHAVIOR_SCHEMA_PATH="bert-parameters-schema.yaml"
MODEL_BUCKET_BASE_PATH="model-nlptown-bert-sentiment"
MACHINE_TYPE="g2-standard-8"
ACCELERATOR_TYPE="NVIDIA_L4"
ACCELERATOR_COUNT="1"
MODEL_DISPLAY_NAME="nlptown-bert-base-multilingual-uncased-sentiment"
MAX_REPLICA_COUNT=3
