GCP_PROJECT=higher-valence-path2prod
GCP_REGION=us-central1
MODEL_NAME="publishers/meta/models/llama3-2@llama-3.2-3b-instruct"
ENABLE_PRIVATE_REGISTRY_ACCESS="false"
MODEL_BUCKET_BASE_PATH="model-llama-sentiment"
INPUT_DATA_URI="inputs"
INPUT_FILE_NAME="llama-prompts.jsonl"
OUTPUT_DATA_URI_PREFIX="predictions/"
MACHINE_TYPE="g2-standard-12"
ACCELERATOR_TYPE="NVIDIA_L4"
ACCELERATOR_COUNT="1"
MODEL_DISPLAY_NAME="llama-3.2-3b-instruct-for-sentiment-analysis"
MAX_REPLICA_COUNT=1
