# Required environment variables
GCP_PROJECT=your-gcp-project-id
GCP_REGION=us-central1
MODEL_DIR="./bert-prediction-with-cpr/bert-tensorflow2-bert-en-uncased-l-10-h-128-a-2-v2/"
MODEL_PREDICTION_INPUT_SCHEMA_PATH="bert-instance-schema.yaml"
MODEL_PREDICTION_OUTPUT_SCHEMA_PATH="bert-prediction-schema.yaml"

# Optional environment variables with defaults
MODEL_PREDICTION_BEHAVIOR_SCHEMA_PATH="bert-parameters-schema.yaml"
MODEL_BUCKET_BASE_PATH=model/
MODEL_IMAGE_URL=us-docker.pkg.dev/vertex-ai/prediction/tf2-cpu.2-15:latest
MACHINE_TYPE=n1-standard-2
DELETION_PROTECTION=false
ENDPOINT_DISPLAY_NAME=Batched BERT Sentiment Analysis
MODEL_DISPLAY_NAME=bert-tensorflow2-bert-en-uncased-l-10-h-128-a-2-v2
HEALTH_ROUTE=/health
PREDICT_ROUTE=/predict
MIN_REPLICA_COUNT=1
MAX_REPLICA_COUNT=3
