GCP_PROJECT=higher-valence-path2prod
GCP_REGION=us-central1
MODEL_NAME="publishers/mistral-ai/models/mistral@mistral-7b-instruct-v0.2"
MODEL_BUCKET_BASE_PATH="model-mistral-change-review"
INPUT_DATA_URI="inputs"
INPUT_FILE_NAME="mistral-prompts.jsonl"
OUTPUT_DATA_URI_PREFIX="predictions/"
MACHINE_TYPE="g2-standard-12"
ACCELERATOR_TYPE="NVIDIA_L4"
ACCELERATOR_COUNT="1"
MODEL_DISPLAY_NAME="mistral-for-code-change-review"
MAX_REPLICA_COUNT=1
